<html lang="en">
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
                    <title>
                    Bootstrap Code Preview
                    </title>
                </head>
                <body>
                </body>
                <body>
                    <div id="component" class="container-fluid py-3">
                        <div class="bg-white">
                            <div class="bg-dark col-xxl-12 row justify-content-end align-items-center d-flex">
                                <div class="col-xxl-11 justify-content-center align-items-center">
                                    <div class="position-relative col-xl-12 row d-flex">
                                        <div class="pe-1 py-1 col-xl-7 align-items-center">
                                            <div class="col-md-4 row align-items-center">
                                                <div class="col-2 justify-content-center align-items-center d-flex">
                                                    <div class="position-relative col-12">
                                                    </div>
                                                </div>
                                                <div class="col-3 justify-content-center align-items-center d-flex">
                                                    <div class="px-1 col-12 justify-content-center align-items-center">
                                                        <p class="text-center text-white fs-6 fw-bold font-family-Montserrat col-9 m-0 px-3 py-2">
                                                        Inicio
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-2 justify-content-center align-items-center d-flex">
                                                    <div class="px-1 col-12 justify-content-center align-items-center">
                                                        <p class="text-center text-white fs-6 fw-bold font-family-Montserrat col-10 m-0 px-3 py-2">
                                                        Sobre
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-3 justify-content-center align-items-center d-flex">
                                                    <div class="position-relative col-12">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pe-1 py-1 col-xl-2 align-items-center">
                                            <p class="text-white fs-5 fw-bold font-family-Montserrat col-7 m-0 px-3 py-2">
                                            Glasgow
                                            </p>
                                        </div>
                                        <div class="col-xl-0 justify-content-center align-items-center">
                                            <div class="position-relative col-12">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pe-px pb-1 col-xxl-12 justify-content-center align-items-center">
                                    <div class="col-xxl-12 row justify-content-end align-items-center">
                                        <div class="col-xxl-7 row justify-content-center">
                                            <p class="text-info fs-6 fw-bold font-family-Montserrat col-md-1 m-0 px-3 py-2">
                                            Bem vindo!
                                            </p>
                                            <p class="text-white fs-1 fw-bold font-family-Montserrat col-md-8 m-0 px-3 py-2">
                                            Escala de coma de Glasgow
                                            </p>
                                            <p class="text-white fs-6 fw-normal font-family-Montserrat col-md-4 m-0 px-3 py-2">
                                            Aprenda enquanto calcula!
                                            </p>
                                            <div class="px-1 py-1 rounded-1 border border-1 border-info col-md-2 align-items-center d-flex">
                                                <p class="text-center text-info fs-6 fw-bold font-family-Montserrat col-6 m-0 px-3 py-2">
                                                Learn More
                                                </p>
                                            </div>
                                            <div class="col-md-2">
                                            </div>
                                        </div>
                                        <img class="position-relative col-xxl-4" src="https://via.placeholder.com/526x645">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
                    </body>
                </html>